body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
}

#chatBox{
display:none;
flex-direction:column;
width:300px;
margin:auto;
background:#1e293b;
padding:10px;
border-radius:10px;
}

#chatMessages{
height:200px;
overflow:auto;
margin-bottom:10px;
}

input{
padding:8px;
}

button{
padding:8px;
margin-top:5px;
cursor:pointer;
}